include AUTHORS
include README.rst
include LICENSE
recursive-include private_storage/locale *.mo *.po
global-exclude .DS_Store
global-exclude Thumbs.db
global-exclude Desktop.ini
global-exclude *.swp
global-exclude *~
global-exclude *.bak
