include AUTHORS
include README.rst
include LICENSE
recursive-include fluent_contents/locale *
recursive-include fluent_contents/templates *.html
recursive-include fluent_contents/static *
recursive-include fluent_contents/plugins/*/static *
recursive-include fluent_contents/plugins/*/templates *.html
recursive-include fluent_contents/tests/testapp/templates *.html
global-exclude .DS_Store
global-exclude Thumbs.db
global-exclude Desktop.ini
global-exclude *.swp
global-exclude *~
global-exclude *.bak
