# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Test Python Package

on:
  release:
    types: [published]
    branches:
      - master
      
permissions:
  contents: read

jobs:
  pypi-publish:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
    - name: Install gettext
      run: sudo apt-get install -y gettext
      
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v3
      with:
          python-version: 3.10
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -U django django-storages boto3 wheel setuptools

    - name: Build package
      run: |
        python setup.py --version
        python setup.py sdist --format=gztar bdist_wheel
        
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository-url: https://test.pypi.org/legacy/
        
